In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv(r'C:\Users\pmven\Google Drive\1. myDocs\Projects\Nice Ride\Data\Nice_ride_trip_history_2017_season.csv', sep = ',', parse_dates = ['Start date', 'End date'])

In [8]:
data.head()

,Start date,Start station,Start station number,End date,End station,End station number,Account type,Total duration (Seconds)
0,2017-11-05 21:45:00,Hennepin Ave & S Washington Ave,30184,2017-11-05 22:02:00,Logan Park,30104,Member,1048
1,2017-11-05 21:45:00,Broadway Street N & 4th Street E,30122,2017-11-05 22:26:00,Broadway Street N & 4th Street E,30122,Member,2513
2,2017-11-05 21:43:00,Dale Street & Grand Ave.,30106,2017-11-05 22:13:00,N Milton Street & Summit Ave,30101,Member,1817
3,2017-11-05 21:41:00,Weisman Art Museum,30183,2017-11-05 22:05:00,22nd Ave S & Franklin Ave,30014,Casual,1399
4,2017-11-05 21:38:00,South 2nd Street & 3rd Ave S,30030,2017-11-05 21:44:00,6th Ave SE & University Ave,30088,Member,370

In [13]:
# Total number of trips?
data.size

3685744

In [40]:
grp_start = data.groupby('Start station')
grp_end = data.groupby('End station')

In [44]:
# how many stations have been used?
print('Start Stations: ',len(grp_start.size()))
print('End Station: ',len(grp_end.size()))

Start Stations:  202
End Station:  202

In [94]:
# Where most Trips are Started
start_trips = pd.DataFrame(grp_start.size().sort_values(ascending = False))
start_trips.columns = ['Trips_start']
start_trips['Perc'] = round(start_trips['Trips_start'] / start_trips['Trips_start'].sum() * 100,2)
start_trips.head(10)

                                     Trips_start  Perc
Start station
Lake Street & Knox Ave S                   10747  2.33
Washington Ave SE & Union Street SE        10278  2.23
Coffman Union                               9544  2.07
Weisman Art Museum                          9221  2.00
6th Ave SE & University Ave                 8502  1.85
11th Ave S & S 2nd Street                   8322  1.81
McNamara Center                             8315  1.80
100 Main Street SE                          8300  1.80
Willey Hall                                 7865  1.71
Hennepin County Government Center           7621  1.65

In [95]:
# Where most Trips end
end_trips = pd.DataFrame(grp_end.size().sort_values(ascending = False))
end_trips.columns = ['Trips_end']
end_trips['Perc'] = round(end_trips['Trips_end'] / end_trips['Trips_end'].sum() * 100,2)
end_trips.head(10)

                                     Trips_end  Perc
End station
Lake Street & Knox Ave S                 11658  2.53
Washington Ave SE & Union Street SE      10117  2.20
Weisman Art Museum                        8618  1.87
11th Ave S & S 2nd Street                 8598  1.87
6th Ave SE & University Ave               8597  1.87
Coffman Union                             8545  1.85
100 Main Street SE                        8539  1.85
McNamara Center                           8368  1.82
15th Ave SE & 4th Street SE               7578  1.64
Social Sciences                           7271  1.58

In [96]:
# What are the most used stations amongst top 10?
pd.merge(start_trips.head(10), end_trips.head(10), left_index=True, right_index=True)

                                     Trips_start  Perc_x  Trips_end  Perc_y
Lake Street & Knox Ave S                   10747    2.33      11658    2.53
Washington Ave SE & Union Street SE        10278    2.23      10117    2.20
Coffman Union                               9544    2.07       8545    1.85
Weisman Art Museum                          9221    2.00       8618    1.87
6th Ave SE & University Ave                 8502    1.85       8597    1.87
11th Ave S & S 2nd Street                   8322    1.81       8598    1.87
McNamara Center                             8315    1.80       8368    1.82
100 Main Street SE                          8300    1.80       8539    1.85